body {
    font-family: Arial, sans-serif;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    text-align: center;
}
.close-btn {
    background-color: #000763;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}
.close-btn:hover {
    background-color: #203991;
}
.open-btn {
    background-color: #55caf1;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin: 20px;
}
.open-btn:hover {
    background-color: #6bd0ff;
}